Package: com.chester.fritzer
Name: fritzer
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: fox
Author: fox
Section: Tweaks
